.depoimentos-bg{
    background-color: #FAFAFA;
}
.leading-medicine-depoimentos{
    padding-bottom: 100px;
}


.cards-depoimento{
    display: flex;
    gap: 50px;
    flex-wrap: nowrap;
    justify-content: center;
}
.card-depoimento{
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    min-width: 250px;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background-color: var(--cor-0);
    border-radius: 6px;
    gap: 10px;
}
.users{
    width: 50px;
}
@media (max-width: 1100px) {
    .cards-depoimento{
        flex-wrap: wrap;
    }
}
@media (max-width: 720px){
    .cards-depoimento{
        
        align-items: center;
        justify-content: center;
    }
}